:root {
  --theme-primary-color-h: 210;
  --theme-primary-color-s: 20%;
  --theme-primary-color-l: 98%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 215;
  --theme-secondary-color-s: 12%;
  --theme-secondary-color-l: 20%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 200;
  --theme-accent-color-s: 77%;
  --theme-accent-color-l: 64%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}