.DS_STORE
.env
*.provisionprofile
*.p12
node_modules
coverage
notes.md

# generated directories
app-dist
build-dist
output
_site

# yarn
yarn-error.log
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*