---
themeImages:
  - 'always-blue'
  - 'seaweed'
  - 'matcha'
  - 'merlot'
  - 'lavendar'
  - 'noir'
  - 'dark'
  - 'light'
---

<!DOCTYPE html>
<html class="no-js" lang="en-US">
  {% include head.html %}

  <body class="bg-primary text-white">
    <div class="overflow-hidden px-4 py-3">
      <header class="container">
        <nav class="flex justify-between items-center">
          <img
            class="w-12"
            src="assets/images/{{site.logo | relative_url}}"
            alt="Logo"
          />

          <ul class="flex">
            <li class="mr-5">
              <a target="_blank" href="{{ site.github_url }}">Github</a>
            </li>
            <li>
              <a target="_blank" href="{{ site.releases_url }}">Releases</a>
            </li>
          </ul>
        </nav>

        <h1 class="text-6xl text-center mt-4">{{ site.app_name }}</h1>

        <p class="my-4 mx-10 text-center text-2xl">{{ site.description }}</p>

        <div class="text-center">
          <a
            id="download"
            class="
              inline-flex
              justify-center
              items-center
              border border-white
              rounded-md
              px-4
              py-2
              mt-4
              transition-all
              hover:border-gray-300
              hover:no-underline
            "
            target="_blank"
            href="{{ site.releases_url }}"
            ><img class="w-5 mr-3" src="assets/images/download.svg" />
            Download</a
          >
        </div>

        {% include mailchimp.html %}

        <main class="container">
          <!-- <p class="my-8 mx-10 text-center text-2xl">{{ site.description }}</p> -->
        </main>

        <section class="theme-gallery relative">
          {% include theme-images.html %}
        </section>
      </header>

      <footer class="container text-xs flex mt-10">
        <div class="flex flex-col mr-12">
          <p class="alt-font uppercase">Contact</p>
          <ul class="mb-4">
            <li class="my-1">
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            <li class="my-1">
              <a target="_blank" href="{{ site.contact_url }}">danhayes.me</a>
            </li>
          </ul>
        </div>
        <div class="flex flex-col">
          <p class="alt-font uppercase">Links</p>
          <ul class="mb-4">
            <li class="my-1">
              <a href="/privacy-policy.html">Privacy Policy</a>
            </li>
            <li class="my-1">
              <a target="_blank" href="{{ site.github_url }}">Github</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <script>
      (function (window) {
        function downloadLink() {
          return fetch(
            'https://api.github.com/repos/daniel-hayes/today/releases/latest'
          )
            .then((res) => res.json())
            .then((res) => {
              // ex: 1.0.0
              return res.name;
            });
        }

        function getLink() {
          const platform = window.navigator.platform;
          const macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'];
          const windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'];
          let extension = null;

          if (macosPlatforms.indexOf(platform) !== -1) {
            extension = 'dmg';
          } else if (windowsPlatforms.indexOf(platform) !== -1) {
            extension = 'exe';
          } else if (/Linux/.test(platform)) {
            extension = 'AppImage';
          }

          if (extension) {
            downloadLink().then((version) => {
              const downloadButton = document.getElementById('download');
              downloadButton.href = `https://www.github.com/daniel-hayes/today/releases/latest/download/Today-${version}.${extension}`;
              downloadButton.setAttribute('download', '');
            });
          }
        }

        getLink();
      })(window);
    </script>
  </body>
</html>
