<p class="italic mt-10 mb-4 mx-10 text-center text-sm">
  {{ site.email_signup }}
</p>

<div id="mc_embed_signup">
  <form
    action="https://gmail.us6.list-manage.com/subscribe/post?u=7bbdb26bd00ba9dbaa59eff02&amp;id=cd1ba92b0c"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
    <div
      id="mc_embed_signup_scroll"
      class="w-full sm:flex items-center m-auto"
      style="max-width: 450px"
    >
      <div class="flex-1">
        <label class="sr-only" for="mce-EMAIL">Email Address</label>
        <input
          required
          type="email"
          value=""
          name="EMAIL"
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            px-4
            py-2
            text-gray-700
            leading-tight
            focus:outline-none
            focus:shadow-outline
          "
          id="mce-EMAIL"
          placeholder="Email me when the app is ready"
        />
      </div>
      <div id="mce-responses">
        <div
          class="response"
          id="mce-error-response"
          style="display: none"
        ></div>
        <div
          class="response"
          id="mce-success-response"
          style="display: none"
        ></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_7bbdb26bd00ba9dbaa59eff02_cd1ba92b0c"
          tabindex="-1"
          value=""
        />
      </div>
      <div>
        <input
          type="submit"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="
            justify-center
            items-center
            border border-white
            rounded-md
            px-4
            py-2
            mt-2
            w-full
            sm:ml-3
            sm:mt-0
            sm:w-auto
            transition-all
            hover:border-gray-300
            hover:no-underline
            bg-transparent
          "
        />
      </div>
    </div>
  </form>
</div>
