:root {
  --theme-primary-color-h: 200;
  --theme-primary-color-s: 77%;
  --theme-primary-color-l: 64%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 0;
  --theme-secondary-color-s: 0%;
  --theme-secondary-color-l: 94%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 200;
  --theme-accent-color-s: 77%;
  --theme-accent-color-l: 64%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}