:root {
  --theme-primary-color-h: 36;
  --theme-primary-color-s: 29%;
  --theme-primary-color-l: 53%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 32;
  --theme-secondary-color-s: 100%;
  --theme-secondary-color-l: 93%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 32;
  --theme-accent-color-s: 83%;
  --theme-accent-color-l: 59%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}