:root {
  --theme-primary-color-h: 316;
  --theme-primary-color-s: 5%;
  --theme-primary-color-l: 58%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 330;
  --theme-secondary-color-s: 12%;
  --theme-secondary-color-l: 90%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 0;
  --theme-accent-color-s: 7%;
  --theme-accent-color-l: 75%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}