:root {
  /* By default this app relies on HSL so it's easier to control various shades of custom colors
    without needing additional JS */
  --theme-primary-color-h: 215;
  --theme-primary-color-s: 15%;
  --theme-primary-color-l: 16%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 0;
  --theme-secondary-color-s: 0%;
  --theme-secondary-color-l: 94%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 200;
  --theme-accent-color-s: 77%;
  --theme-accent-color-l: 64%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  color: var(--theme-secondary-color);
  background: var(--theme-primary-color);
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  appearance: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

input,
button,
p {
  -webkit-app-region: no-drag;
}

input:focus,
button:focus,
p:focus,
a:focus {
  outline: none;
}
