:root {
  --theme-primary-color-h: 263;
  --theme-primary-color-s: 6%;
  --theme-primary-color-l: 43%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 0;
  --theme-secondary-color-s: 0%;
  --theme-secondary-color-l: 100%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 205;
  --theme-accent-color-s: 51%;
  --theme-accent-color-l: 74%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}