:root {
  --theme-primary-color-h: 339;
  --theme-primary-color-s: 87%;
  --theme-primary-color-l: 27%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 183;
  --theme-secondary-color-s: 100%;
  --theme-secondary-color-l: 91%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 327;
  --theme-accent-color-s: 65%;
  --theme-accent-color-l: 56%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}