:root {
  --theme-primary-color-h: 113;
  --theme-primary-color-s: 34%;
  --theme-primary-color-l: 75%;
  --theme-primary-color: hsl(
    var(--theme-primary-color-h),
    var(--theme-primary-color-s),
    var(--theme-primary-color-l)
  );

  --theme-secondary-color-h: 100;
  --theme-secondary-color-s: 10%;
  --theme-secondary-color-l: 94%;
  --theme-secondary-color: hsl(
    var(--theme-secondary-color-h),
    var(--theme-secondary-color-s),
    var(--theme-secondary-color-l)
  );

  --theme-accent-color-h: 35;
  --theme-accent-color-s: 14%;
  --theme-accent-color-l: 32%;
  --theme-accent-color: hsl(
    var(--theme-accent-color-h),
    var(--theme-accent-color-s),
    var(--theme-accent-color-l)
  );
}