---
---

<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ site.app_name }}: {{ site.sub_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append:
    site.github.build_revision | relative_url }}">

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PD1BE2E8TN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-PD1BE2E8TN');
    </script>
  </head>

  <body class="bg-primary text-white px-4 py-3">
    <header class="container">
      <nav>
        <img
          class="w-12"
          src="assets/images/{{site.logo | relative_url}}"
          alt="Logo"
        />
      </nav>

      <h1 class="text-6xl text-center">{{ site.app_name }}</h1>
      <h2 class="text-center mt-2">{{ site.sub_title }}</h2>

      <!-- <img
        style="width: 600px"
        class="absolute"
        src="assets/images/always-blue.png"
      />
      <img style="width: 600px" class="absolute" src="assets/images/dark.png" />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/lavendar.png"
      />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/light.png"
      />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/matcha.png"
      />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/merlot.png"
      />
      <img style="width: 600px" class="absolute" src="assets/images/noir.png" />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/seaweed.png"
      />
      <img
        style="width: 600px"
        class="absolute"
        src="assets/images/settings.png"
      />

      <p>{{ site.description }}</p> -->

      <!-- <ul class="downloads">
        <li>
          <a href="{{ site.github.zip_url }}"
            >Download <strong>ZIP File</strong></a
          >
        </li>
        <li>
          <a href="{{ site.github.tar_url }}"
            >Download <strong>TAR Ball</strong></a
          >
        </li>
        <li>
          <a href="{{ site.github.repository_url }}"
            >View On <strong>GitHub</strong></a
          >
        </li>
      </ul> -->
    </header>

    <main style="height: 40vh">{{ content }}</main>

    <footer>
      <p>
        This project is maintained by
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
      </p>
      <p>
        <small>Hosted on GitHub Pages</small>
      </p>
    </footer>
  </body>
</html>
